<div class="card mb-4">
    <div class="card-img-wrapper">
        <img class="card-img-top"
             src="@User.PhotoUrl"
             alt="@User.KnownAs" />
    </div>
    <div class="card-body p-1">
        <h6 class="card-title text-center mb-1">
            <i class="fa fa-user"></i> @User.KnownAs, @User.Age
        </h6>
        <p class="card-text text-muted text-center">@User.City</p>
    </div>
</div>

@code {
    [Parameter]
    public User User { get; set; }
}