@page "/members/{Id:int}"
@page "/members/{Id:int}/{Tab}"

@inject UserService userService
@inject NavigationManager navigationManager
@inject IToastService toastService
@inject IJSRuntime js

@if (User != null)
{
    <div id="member-detail" class="container mt-4">
        <div class="row">
            <h1>@User.KnownAs's Profile</h1>
        </div>
        <div class="row">
            <!-- left hand side -->
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top img-thumbnail"
                         src="@(User.PhotoUrl ?? "assets/user.jpg")"
                         alt="@User.KnownAs" />
                    <div class="card-body">
                        <div>
                            <strong>Location:</strong>
                            <p>@User.City, @User.Country</p>
                        </div>
                        <div>
                            <strong>Age:</strong>
                            <p>@User.Age</p>
                        </div>
                        <div>
                            <strong>Last Active:</strong>
                            <p>@Util.GetPrettyDate(User.LastActive)</p>
                        </div>
                        <div>
                            <strong>Member since:</strong>
                            <p>@User.Created.ToString("dd/MM/yyyy")</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group d-flex">
                            <button class="btn btn-primary w-100"
                                    @onclick="SendLike">
                                Like
                            </button>
                            <a class="btn btn-success w-100 nav-link"
                               id="messages-tab"
                               data-toggle="tab"
                               href="#messages"
                               role="tab"
                               aria-controls="messages">
                                Message
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- right hand side -->
            <div class="col-sm-8">
                <div class="tab-panel member-tabset">
                    <ul class="nav nav-tabs">
                        <li class="nav-item @(Tab == "about" ? "active" : "")">
                            <a class="nav-link"
                               href="members/@Id/about">
                                About @User.KnownAs
                            </a>
                        </li>
                        <li class="nav-item @(Tab == "interests" ? "active" : "")">
                            <a class="nav-link"
                               href="members/@Id/interests">
                                Interests
                            </a>
                        </li>
                        <li class="nav-item @(Tab == "photos" ? "active" : "")">
                            <a class="nav-link"
                               href="members/@Id/photos">
                                Photos
                            </a>
                        </li>
                        <li class="nav-item @(Tab == "messages" ? "active" : "")">
                            <a class="nav-link"
                               href="members/@Id/messages">
                                Messages
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade @(Tab == "about" ? "show active" : "")">
                            <h4>Description</h4>
                            <p>@User.Introduction</p>
                            <h4>Looking for</h4>
                            <p>@User.LookingFor</p>
                        </div>
                        <div class="tab-pane fade @(Tab == "interests" ? "show active" : "")">
                            <h4>Interests</h4>
                            <p>@User.Interests</p>
                        </div>
                        <div class="tab-pane fade @(Tab == "photos" ? "show active" : "")">
                            @if (Tab == "photos")
                            {
                                <PhotoGallery User="User" />
                            }
                        </div>
                        <div class="tab-pane fade @(Tab == "messages" ? "show active" : "")">
                            @if (Tab == "messages")
                            {
                                <MessageThread Recipient="User" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<style>
    #member-detail .img-thumbnail {
        margin: 25px;
        width: 85%;
        height: 85%;
    }

    #member-detail .card-body {
        padding: 0 25px;
    }

    #member-detail .card-footer {
        padding: 10px 15px;
        background-color: #fff;
        border-top: none;
    }
</style>

@code {
    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public string Tab { get; set; }

    User User;

    protected override async Task OnInitializedAsync()
    {
        User = await userService.GetUser(Id);
    }

    async Task SendLike()
    {
        var response = await userService.SendLike(Id);
        toastService.ShowSuccess($"You like {User.KnownAs}! <3");
    }
}