@page "/members/edit"

@inject AuthService authService
@inject UserService userService
@inject IJSRuntime js
@inject IDispatcher dispatcher

@if (CurrentUser != null)
{
    <div id="member-edit" class="container mt-4">
        <div class="row">
            <div class="col-sm-4">
                <h1>Your Profile</h1>
            </div>
            <div class="col-sm-8">
                @if (Changed)
                {
                    <div class="alert alert-info">
                        <strong>Information:</strong>
                        You have made changes. Any unsaved changes will be lost!
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <!-- left hand side -->
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top img-thumbnail"
                         src="@(CurrentUser.PhotoUrl ?? "assets/user.jpg")"
                         alt="@CurrentUser.KnownAs" />
                    <div class="card-body">
                        <div>
                            <strong>Location:</strong>
                            <p>@CurrentUser.City, @CurrentUser.Country</p>
                        </div>
                        <div>
                            <strong>Age:</strong>
                            <p>@CurrentUser.Age</p>
                        </div>
                        <div>
                            <strong>Last Active:</strong>
                            <p>@CurrentUser.LastActive</p>
                        </div>
                        <div>
                            <strong>Member since:</strong>
                            <p>@CurrentUser.Created</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-success btn-block"
                                disabled="@(Changed ? "disabled" : "")"
                                @onclick="SaveChanges">
                            Save Changes
                        </button>
                    </div>
                </div>
            </div>
            <!-- right hand side -->
            <div class="col-sm-8">
                <div class="tab-panel member-tabset">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active"
                               id="about-tab"
                               data-toggle="tab"
                               href="#about"
                               role="tab"
                               aria-controls="about">
                                Edit Profile
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               id="photos-tab"
                               data-toggle="tab"
                               href="#photos"
                               role="tab"
                               aria-controls="photos">
                                Edit Photos
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active"
                             id="about"
                             role="tabpanel"
                             aria-labelledby="about-tab">
                            <form @onkeyup="OnChangeHandler">
                                <h4>Description</h4>
                                <textarea name="introduction"
                                          rows="6"
                                          class="form-control"
                                          @bind="CurrentUser.Introduction" />
                                <h4>Looking for</h4>
                                <textarea name="looking-for"
                                          rows="6"
                                          class="form-control"
                                          @bind="CurrentUser.LookingFor" />
                                <h4>Interests</h4>
                                <textarea name="interests"
                                          rows="6"
                                          class="form-control"
                                          @bind="CurrentUser.Interests" />
                                <h4>Location Details</h4>
                                <div class="form-inline">
                                    <label for="city">City</label>
                                    <input type="text"
                                           name="city"
                                           class="form-control"
                                           @bind="CurrentUser.City" />
                                    <label for="country">Country</label>
                                    <input type="text"
                                           name="country"
                                           class="form-control"
                                           @bind="CurrentUser.Country" />
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade show"
                             id="photos"
                             role="tabpanel"
                             aria-labelledby="photos-lab">
                            <PhotoEditor Photos="@CurrentUser.Photos"
                                         OnChange="@GetUser" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<style>
    #member-edit .img-thumbnail {
        margin: 25px;
        width: 85%;
        height: 85%;
    }

    #member-edit .card-body {
        padding: 0 25px;
    }

    #member-edit .card-footer {
        padding: 10px 15px;
        background-color: #fff;
        border-top: none;
    }
</style>

@code {
    User CurrentUser;
    int UserId;
    bool Changed;

    protected override async Task OnInitializedAsync()
    {
        var id = await authService.GetLoggedInUserId();
        if (id != 0)
        {
            UserId = id;
            await GetUser();
        }
    }

    async Task GetUser()
    {
        CurrentUser = await userService.GetUser(UserId);
        dispatcher.Dispatch(new SetCurrentUserAction { User = CurrentUser }); // TODO: move this in PhotoEditor
                                                                              // TODO: refresh data in the UI without calling the API (userService)
    }

    void OnChangeHandler()
    {
        Changed = true;
    }

    async Task SaveChanges()
    {
        var response = await userService.UpdateUser(CurrentUser.Id, CurrentUser);

        await js.InvokeVoidAsync("log", response);

        await js.InvokeVoidAsync("alertify.success", "Changes saved!");

        Changed = false;
    }
}